body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    background-repeat: no-repeat;
}

a {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
.black_color{
    color: #000;
}

.form_section {
    background: url(./images/background-image.jpg);
    background-size: cover;
    height: 100vh;
}

.form_section .user_login_btn {
    position: absolute;
    right: 10px;
    top: 25px;
    outline: none;
    box-shadow: none;
}

.form_section .user_login_btn img {
    width: 19px;
}
.form_section .modal-content {
    border-radius: 0;
    padding: 50px 15px 20px 15px;
}
.form_section .login_header h4 {
    font-size: 22px;
    font-weight: 600;
}
.form_section .login_header p {
    font-size: 13px;
    color: #7d7d7d;
    line-height: 20px;
}
.form_section button.close {
    position: absolute;
    right: 20px;
    top: 15px;
    opacity: 1;
}
.form_section .form-control{
    border-radius: 50px;
    height: 55px;
    padding: 0 30px;
}
.form_section .input-group .form-control {
    padding-right: 50px;
}
.form_section .input-group>.form-control:not(:last-child){
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.form_section .input-group .input-group-addon{
    right: 20px;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.form_section .custom-control .forgot_pswd{
    color: #808080;
}
.form_section .custom-control .forgot_pswd:hover{
    color: #007bff;
}
.form_section .custom-control label, .form_section .custom-control .forgot_pswd{
    font-size: 13px;
}
.form_section .custom-checkbox .custom-control-label::before{
    border-radius: 0;
    top: .2rem;
}
.form_section .submit_button .btn{
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background: #5fa01b;
    height: 55px;
    border-radius: 50px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}
.form_section .submit_button .btn:hover{
    opacity: .9;
}
.form_section .signup_btn{
    font-size: 13px;
    font-weight: 600;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 440px;
    }
    .form_section .modal-content {
        border-radius: 0;
        padding: 70px 30px 30px 30px;
    }
    .form_section button.close {
        right: 30px;
        top: 30px;
    }
}
